*{
    overflow: hidden;
}
body{
    background-image: url(backgrounds/top-view-raw-pasta-with-greens-vegetables-white-table.jpg);
background-position:center;
background-size:cover;
}

.container{
    display: flex;
    justify-content: center;
}
.body{
    display: flex;
    flex-direction: column;
    align-items:  center;

    width: 500px;
    background-image: url(backgrounds/man-delivering-groceries-customers.jpg);
    background-position: center;
    background-size: cover;
    position: relative;  
    border-radius: 10%;   
}
h1{
    color:peachpuff;
    /* background-color:rgb(140, 156, 245); */
}
.logindata {
    width: 400px;
    height: 35px;
    border-radius: 5px;
    opacity: .6;
    
}
.logindata input{
    padding: 10px 20px;
    transition: 1.6s ease;
}   

#signin{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    width: 200px;
    height: 35px;
}
